# API Server Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# API Keys
OPEN_API_KEY=
GEMINI_API_KEY=

# Caching Configuration
USE_GPTCACHE=true

# Zilliz/Milvus Configuration
ZILLIZ_URI=
ZILLIZ_TOKEN=
WIPE_MILVUS_ON_START=false
GEMINI_MODEL_NAME=
OPENAI_MODEL_NAME=